
.card {
    color: white;
    overflow: hidden;
    margin-bottom: 1.25rem;
    transition: transform 0.2s ease-in-out;
    max-width: 40rem;
    height: 34rem;
 /* Set a fixed height */
    display: flex;
    flex-direction: column;
    width: 100%;
} 

  .card:hover {
    transform: scale(1.05);
}

 /* Image Container */
.imgContainer {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: .5rem;
}

.imgContainer img:hover {
    transform: scale(1.1);
}


.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Text Content */
.text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
     /* Allows the text section to grow and occupy space within the card  */
    
    /* Ensures title and details are spaced out  */
}

.text h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #e2e8f0;
    margin-bottom: 1rem;
    flex-shrink: 0;
    /* Prevents the title from shrinking */
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: #cbd5e0;
}

/* Author Section */
.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    margin-right: 0.75rem;
    object-fit: cover;
}

/* Date */
.date {
    color: #a0aec0;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
    .card {
        color: white;
    }

    .text h2 {
        color: #e2e8f0;
    }

    .details {
        color: #cbd5e0;
    }

    .date {
        color: #a0aec0;
    }
}